@import "tailwindcss";
@plugin "daisyui";

@import "./assets/fonts/all-round-gothic.css";

@theme {
  --color-canvas: #f4f1e9;
  --color-ink: #172119;
  --color-sunbeam: #f0d67a;
  --color-lilac: #e2adff;
  --font-sans: "All Round Gothic", sans-serif;
}

:root {
  @apply bg-canvas;
  @apply text-ink;
  @apply font-sans;
}
